<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    <h1>{{.AcaYear}}</h1>

    {{range .Semesters}}
        <h2>{{ .Term }}</h2>
        <ul>
            {{range .Courses}}
            <li>{{.Number}} - {{.Name}} : {{.Units}} units </li>
            {{end}}
        </ul>
    {{end}}

{{end}}

</body>
</html>